<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.nova.work.meeting.mapper.MeetingMapper">

    <!-- 회의 이름 조회 -->
    <select id="selectMeetingName" resultType="string">
        SELECT NAME
        FROM T_MEETING_BASE
        WHERE ID = #{meetingId}
    </select>

    <!-- 회의 기본 정보 조회 -->
    <select id="findById" resultType="MeetingBase">
        SELECT
            ID AS id,
            NAME AS name,
            STATUS AS status,
            ATTENDEE_LIST AS attendeeList,
            AUDIO_URL AS audioUrl,
            CRT_DTIME AS crtDtime,
            END_DTIME AS endDtime,
            CRT_ID AS crtId
        FROM T_MEETING_BASE
        WHERE ID = #{meetingId}
    </select>

    <!-- 공유받은 사용자 수 조회 (COUNT 쿼리 허용) -->
    <select id="countViewers" resultType="int">
        SELECT COUNT(*)
        FROM T_MEETING_VIEWER_MAP
        WHERE MEETING_ID = #{meetingId}
    </select>

    <!-- 회의 발화 데이터 조회 -->
    <select id="findUtterancesByMeetingId" resultType="UtteranceInfo">
        SELECT
            ID AS id,
            MEETING_ID AS meetingId,
            IDX AS idx,
            SPEAKER_LABEL AS speakerLabel,
            SPEAKER_NAME AS speakerName,
            TEXT AS text
        FROM T_MEETING_UTTERANCE_INFO
        WHERE MEETING_ID = #{meetingId}
    </select>

</mapper>