<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.nova.sitesafety.mapper.SiteInfoMapper">

    <!-- 현장 목록 조회 -->
    <select id="selectSiteInfoList" parameterType="SiteListReqDTO" resultType="SiteInfoVO">
        SELECT
        SITE_CODE,
        SITE_NAME,
        LATITUDE,
        LONGITUDE,
        ADDRESS,
        CAM_SERIAL_NUM,
        AI_PORT,
        CRT_DTIME,
        GRID_X,
        GRID_Y
        FROM T_SITE_INFO
        <where>
            <if test="siteCode != null and siteCode != ''">
                AND SITE_CODE LIKE CONCAT('%', #{siteCode}, '%')
            </if>
        </where>
        ORDER BY CRT_DTIME DESC
        LIMIT #{pageSize}
        OFFSET #{offset}
    </select>

    <!-- 전체 개수 조회 -->
    <select id="countSiteInfo" parameterType="SiteListReqDTO" resultType="int">
        SELECT COUNT(*)
        FROM T_SITE_INFO
        <where>
            <if test="siteCode != null and siteCode != ''">
                AND SITE_CODE LIKE CONCAT('%', #{siteCode}, '%')
            </if>
        </where>
    </select>

    <!-- 마지막 일련번호 조회 -->
    <select id="selectLastSerialNum" resultType="int">
        SELECT IFNULL(MAX(LAST_SERIAL_NUM), 0)
        FROM T_SITE_CODE
        WHERE REGION_CODE = #{regionCode}
        AND CITY_CODE = #{cityCode}
    </select>

    <!-- 현장 등록 -->
    <insert id="insertSiteInfo" parameterType="SiteCreateReqDTO">
        INSERT INTO T_SITE_INFO (
            SITE_CODE,
            SITE_NAME,
            LATITUDE,
            LONGITUDE,
            ADDRESS,
            CAM_SERIAL_NUM
        ) VALUES (
            #{siteCode},
            #{siteName},
            #{latitude},
            #{longitude},
            #{address},
            0
        )
    </insert>

    <!-- 현장 상세 조회 -->
    <select id="selectSiteInfoBySiteCode" parameterType="String" resultType="SiteDetailResDTO">
        SELECT
            SITE_CODE,
            SITE_NAME,
            ADDRESS,
            LATITUDE,
            LONGITUDE,
            CRT_DTIME AS createdAt
        FROM T_SITE_INFO
        WHERE SITE_CODE = #{siteCode}
    </select>

    <update id="updateLastSerialNum" parameterType="SerialNumUpdateDTO">
        UPDATE T_SITE_CODE
        SET LAST_SERIAL_NUM = #{lastSerialNum}
        WHERE REGION_CODE = #{regionCode}
        AND CITY_CODE = #{cityCode}
    </update>

</mapper>